* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
 
}

body {
  font-family: 'Philosopher', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

/* Временные рамки */
.about h3 span {
  padding: 1px;
  background-color: rgb(204, 6, 48);
  font-size: 40px;
}

.booking button {
  font-size: 30px;
  /* background-color: lightcoral; */
  background-image: linear-gradient(#cc0630 0%, #8f0222 75%, #6d0019 100%);
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 5px 5px 5px 0 grey;
}

.booking {
  min-height: 50px;
}

.booking form {
  padding: 100px 0;
  position: relative;
  margin: 0 auto;
}

/* Хeдер */
header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.menu {
  margin: 0 auto;
}

.menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  font-size: 2em;
  font-weight: 700;
}

.menu a:hover {
  color: brown;
  border-bottom: 3px solid brown;
}

/* Контентная часть */
main h1 {
  font-family: 'Philosopher', sans-serif;
  margin: 30px 30px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

main section {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
}

figcaption {
  text-align: center;
  font-style: italic;
  color: gray;
}

.about article {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.about article div {
  padding: 20px;
}

.about li:nth-child(2) article {
  flex-direction: row-reverse;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  line-height: 1.5em;
  
}

/* Футер */

footer {
  margin: 25px 25px;
  display: flex;
  justify-content: center;
  
}

footer span {
  align-self: center;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

footer img:hover {
  transform: scale(1.1);
  opacity: 0.5;
}