/* * {
  margin: 0;
  padding: 0;
} */

@media screen and(max-width: 768px) {
 
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

/* Временные рамки */
header {
  border: 1px solid lightgrey;
}

main {
  border: 1px solid lightskyblue;
}

main section {
  border: 1px solid seagreen;
}

main section article {
  border: 1px solid red;
}
footer {
  border: 1px solid lightpink;
}

.booking {
  min-height: 50px;
}

.booking form {
  padding: 100px 0;
  position: relative;
  left: 50%;
}
/* Временные рамки */